dataSets/
spectrogramDataHighGran/
nlpNN/savedNLPmodels
ultimateOptuna/savedNLPmodels
ultimateOptuna/savedCFmodels
glove-wiki-gigaword-100.gz
glove-wiki-gigaword-100
job_sub
spectrogramDataHighGranFull2
./nlpNN/savedNLPmodels/2025-03-12_10-43/model_epoch01_valloss1.0427.keras
./folderToSubmit/models/almostFinalEEG2vec/model_epoch02_valloss0.3237.keras
./folderToSubmit/models/almostFinalEEG2vec/valid_data.npz
./folderToSubmit/models/almostFinalEEG2vec/test_data.npz
./folderToSubmit/models/almostFinalEEG2vec/train_data.npz
./folderToSubmit/models/almostFinalEEG2vec/model_epoch01_valloss0.3255.keras
./folderToSubmit/models/finalEEG2vec/valid_data.npz
./folderToSubmit/models/finalEEG2vec/test_data.npz
./folderToSubmit/models/finalEEG2vec/train_data.npz
./folderToSubmit/models/finalEEG2vec/model_epoch01_valloss0.3238.keras
./folderToSubmit/models/finalEEG2vec/model_epoch02_valloss0.3225.keras
./folderToSubmit/models/penultimateEEG2vec/test_data.npz
./folderToSubmit/models/penultimateEEG2vec/model_epoch02_valloss0.2969.keras
./glove-wiki-gigaword-100
folderToSubmit/models/finalEEG2vec/train_data.npz
folderToSubmit/models/finalEEG2vec/valid_data.npz
folderToSubmit/models/finalEEG2vec/test_data.npz
folderToSubmit/models/finalEEG2vec/model_epoch02_valloss0.3225.keras